.deps/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1

Ogre.log
whirlybirds
whirlybirds-Assignment2.o
whirlybirds-Ball.o
whirlybirds-BaseApplication.o
whirlybirds-PlayingField.o
ogre.cfg

swilken-local/

*.swp
*.o
*~
media/
CEGUI.log
chat
